@font-face {
  font-family: 'arc';
  src:
    url('fonts/arc.ttf?sm52ut') format('truetype'),
    url('fonts/arc.woff?sm52ut') format('woff'),
    url('fonts/arc.svg?sm52ut#arc') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'arc' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-chat:before {
  content: "\e90b";
}
.i-pass:before {
  content: "\e909";
}
.i-pause:before {
  content: "\e906";
}
.i-record:before {
  content: "\e910";
}
.i-arrow-r:before {
  content: "\e90c";
}
.i-person:before {
  content: "\e904";
}
.i-tag:before {
  content: "\e90a";
}
.i-download:before {
  content: "\e901";
}
.i-upload:before {
  content: "\e907";
}
.i-share:before {
  content: "\e908";
}
.i-txt:before {
  content: "\e903";
}
.i-play:before {
  content: "\ea15";
}
.i-avatar:before {
  content: "\e90e";
}
.i-lock:before {
  content: "\f023";
}
.i-arrow-rc:before {
  content: "\f0a9";
}
.i-bell-o:before {
  content: "\f1f7";
}
.i-img:before {
  content: "\e905";
}
.i-voi:before {
  content: "\e902";
}
.i-level-up:before {
  content: "\e900";
}
.i-search:before {
  content: "\f002";
}
.i-envelope:before {
  content: "\f003";
}
.i-star:before {
  content: "\f006";
}
.i-setting:before {
  content: "\f013";
}
.i-trash-o:before {
  content: "\f014";
}
.i-home:before {
  content: "\f015";
}
.i-edit:before {
  content: "\f044";
}
.i-bolt:before {
  content: "\f0e7";
}
.i-refresh:before {
  content: "\f021";
}
