.App {
  text-align: center;
}
td {
  text-align: center;
}
.share{
  cursor: pointer;
}
.act_msg {
  margin: 10px 5px;
  padding: 5px;
  background: #eaeca8;
  border-radius: 2px;
}
.logo {
  animation: logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.site_tit {
  padding: 2px 5px;
  font-size: 15px;
}
.site_sub_tit{
  padding-bottom: 5px;
  font-size: 12px;
  color: #757b7d;
}
.header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  font-size: calc(10px + 0.7vmin);
  color: #d5dd57;
  margin-bottom: 10px;
}
nav {
  margin-bottom: 10px;
}
footer{
  margin-top:17px;
  text-align: center;
}
.keyword {
  width: 210px;
}
.room {
  margin-bottom: 0.2rem;
}
.link {
  color: #b318f0;
  margin: 1px 5px;
}
.inv_tit {
  color: #335a70;
  font-size: 15px;
  font-weight: 490;
}
.page_block{
  border: 1px dashed #c39dcb;
  margin: 5px;
  padding: 5px;
  min-height: 200px;
}
  
.hide{
  display:none;
}
.texting {
  width: 70%;
  max-width:520px;
}
.notifier{
  background: purple;
  color: #fafafa;
  padding:1px 5px;
  margin:2px 4px;
  line-height: 30px;
  border-radius: 3px;
}
.notifier a{
  color: lime;
}
.no_notify{
  float: right;
  cursor: pointer;
  margin: 0px 5px;
  vertical-align: middle;
}
.m_kind{
  cursor: pointer;
  vertical-align: middle;
  margin: 0px 5px;
  font-size: 1.3rem;
  color: purple;
}
.msg_bar{
  display:inline-block;
  font-weight: normal;
  font-size: 14px;
  width: 40%;
  max-width: 200px;
  cursor: pointer;
  margin: 0px 5px;
  text-align:center;
  padding: 4px 50px;
  border: 1px solid #d1d1d1;
  background: #e2eec2;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  border-radius: 2px;
}
.msg_img{
  width: 120px;
  height: 100px;
  padding: 3px;
  vertical-align: middle;
  border: 1px solid #868080;
}
.msg_block{
  border: 1px dashed #c39dcb;
  /* background: #a7f1ee; */
  background: linear-gradient(135deg, #55d2ff, #13a7cd, #51cac7, #33b0bd);
  background-size: 400% 400%; /* Makes the gradient larger for movement */
  animation: colorShift 15s ease infinite;
  font-size: 13px;
  margin: 5px  7px;
  padding: 7px;
  min-height: 350px;
  max-height: 500px;
  overflow-y: scroll;
}

@keyframes colorShift {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.msg{
  overflow:hidden;
  line-height: 15px;
  -webkit-animation: zoomIn .5s cubic-bezier(.42, 0, .58, 1);
  animation: zoomIn .5s cubic-bezier(.42, 0, .58, 1);
}

/* .m_nick { */
  /* display: inline-block; */
  /* min-width: 0; */
  /* white-space: nowrap; */
/* } */
.m_cont{
  display: block;
  border-radius: 13px;
  padding: 8px;
  /* word-wrap: break-word; */
  overflow-wrap: break-word; 
}
.m_in .m_cont{
  background: #3f3b52;
  color: #dbdbdb;
}
.m_out .m_cont{
  background: #0c3c63;
  /* background: #2e475d; */
  color: #f2f2f2;
}
.txt {
  padding: 2px 0px;
}
.voi {
  padding: 5px;
}
.msg_audio{
  cursor: pointer;
  font-size: 20px;
  padding: 5px 10px;
  vertical-align: middle;
}
.del{
  vertical-align:middle;
  color:darkcyan;
  padding:0px 5px;
}
.m_out {
  float: right;
  max-width: 75%;
}
.m_out.wisper .m_cont {
  background: #7b075d;
}
.m_out a{
  color: #7bf13a;
  text-decoration: none;
}
.m_in {
  display: inline-block;
  max-width: 75%;
}
.m_in.wisper .m_cont {
  background: #edebab;
}
.m_in a{
  color: #42a5f5;
  text-decoration: none;
  vertical-align: bottom; 
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.info{
  text-align: center;
  font-size: 11px;
}
.info .ts {
  opacity: 0.3;
  padding: 5px 0px;
}
.info a{  /* history */
  color: blue;
  padding: 3px 0px;
  text-decoration: none;
}
.navi {
  color: #222bcb;
  /* cursor: pointer; */
 	/* text-decoration: none; */
	border-bottom: 1px dashed #999;
}
hr {
  border-color: #c39dcb;
}
.invite {
  background: #580585;
  color: #fafafa;
  padding:8px 5px 0px;
  margin:2px 4px;
  line-height: 30px;
  border-radius: 3px;
}
.greeting {
  font-style: italic;;
}
.conn_state{
  text-align: center;
  color: #f3f3f3;
  background: purple;
  padding: 2px;
  margin: 1px 5px;
  border-radius: 2px;
}
.inv_agree{
  color: #e8ebef;
  background: #e025c0;
}
.inv_decline{
  color: #b221d1;
  background: #ccc;
}

.cmd_output{
  position: sticky;
  bottom: 0;
  margin: 5px 0px;
}
.x_close {
  background: none;
  float: right;
  border: none;
  font-size: 0.7rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.dark .info a {
  color: #b5b5d7;
}
.dark .navi {
  color: #ecf110;
}
.dark .page_block {
  border-color: #700789;
}
.dark .msg_block {
  border-color: #700789;
  background: #022c31;
}
.dark .msg_bar {
  color: #b7ac22;
  background: #331f27;
  border-color: #252c5c;
}
.dark hr {
  border-color: #700789;
}
.dark .m_out.wisper .m_cont {
  background: #59033e;
}
.dark .act_msg {
  background: #212f56;
}
.dark .inv_tit{
  color: #2a77b5;
}
