:root {
  overflow-x: hidden;
  color-scheme: light dark;
  --color-text: #213547;
  --color-bg: #ffffff;
}
.dark {
  --color-text: rgba(255, 255, 255, 0.88);
  --color-bg: #242424;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  margin: 3px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}
@media (max-width: 500px) {
  body{
    font-size: 12px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
}
